In [33]:
import pandas as pd
import numpy as np
from scipy import stats
from datetime import datetime
from sklearn import preprocessing
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline

In [34]:
medical_line_df = pd.read_csv('Smaller_Claim_Medical_Line.csv', index_col=[0])
medical_line_df

,Claim_Line_No,Place_of_Service_Cd,Rev_Cd,CPT4_ID,CPT4_Mod1_Cd,CPT4_Mod2_Cd,CPT4_Mod3_Cd,CPT4_Mod4_Cd,Service_Start_Dt,Units,...,NDC_Cd,Capitation_Flag,ER_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt,Dental_Flag,Unit_Of_Measure_Cd,Unit_Of_Measure_Desc,Service_Start_Year
Claim_ID,,,,,,,,,,,,,,,,,,,,,
358985506,19,11,NaN,D9951,,,,,2016-10-05,1,...,0,N,N,0.00,0.00,0.00,Y,UN,Units,2016
358982958,3,11,NaN,D0120,,,,,2016-02-02,1,...,0,N,N,0.00,0.00,28.00,Y,UN,Units,2016
238253746,1,11,NaN,99213,25,,,,2016-04-25,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
358996411,3,11,NaN,96372,,,,,2016-04-05,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
358985561,2,11,NaN,17280,XU,,,,2016-12-22,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
358984479,1,99,450.0,00000,,,,,2016-02-13,1,...,0,N,Y,0.00,0.00,281.00,N,UN,Units,2016
171447849,1,11,NaN,99213,,,,,2016-07-26,1,...,0,N,N,0.00,7.45,0.00,N,UN,Units,2016
358987119,24,99,444.0,00000,,,,,2016-04-28,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
358996654,32,99,551.0,00000,,,,,2016-09-30,4,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
281568939,1,23,NaN,99284,,,,,2016-08-23,1,...,0,N,N,0.00,0.00,441.35,N,UN,Units,2016
239303210,1,11,NaN,D4910,,,,,2016-12-29,1,...,0,N,N,0.00,15.31,0.00,Y,UN,Units,2016
248413959,1,11,NaN,97110,GP,,,,2016-04-12,2,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
358995481,9,99,551.0,00000,,,,,2016-12-30,5,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
248413959,2,11,NaN,97140,59,GP,,,2016-04-12,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
358983710,3,11,NaN,D2392,,,,,2016-06-21,1,...,0,N,N,0.00,14.30,50.00,Y,UN,Units,2016
358952520,1,11,NaN,D4341,,,,,2016-06-01,1,...,0,N,N,0.00,66.50,0.00,Y,UN,Units,2016
358952568,6,99,304.0,00000,,,,,2016-04-04,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
358950309,9,99,301.0,00000,,,,,2016-04-16,43,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
359004724,9,99,301.0,00000,,,,,2016-12-21,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
359002401,20,99,851.0,00000,,,,,2016-06-13,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
359005061,2,99,200.0,00000,,,,,2016-02-29,12,...,0,N,N,92.81,0.00,0.00,N,UN,Units,2016
359002695,6,11,NaN,D9223,,,,,2016-11-22,1,...,0,N,N,0.00,18.00,0.00,Y,UN,Units,2016
359005076,2,11,NaN,96372,,,,,2016-10-25,1,...,0,N,N,0.00,0.00,27.48,N,UN,Units,2016
359005181,2,99,270.0,00000,,,,,2016-11-10,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
359002843,17,99,636.0,00000,,,,,2016-01-29,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171447851,1,11,NaN,99393,,,,,2016-08-03,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
282610850,1,11,NaN,99214,,,,,2016-11-01,1,...,0,N,N,30.00,0.00,0.00,N,UN,Units,2016
358956207,3,11,NaN,D0272,,,,,2016-09-26,1,...,0,N,N,0.00,0.00,0.00,Y,UN,Units,2016
283264429,1,11,NaN,99205,,,,,2016-12-09,1,...,0,N,N,3.00,0.00,0.00,N,UN,Units,2016
281568959,1,11,NaN,99215,,,,,2016-08-25,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171173858,2,11,NaN,93005,,,,,2016-02-18,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173859,1,11,NaN,99214,,,,,2016-02-18,1,...,0,N,N,45.00,0.00,0.00,N,UN,Units,2016
171173859,2,11,NaN,71020,,,,,2016-02-18,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173872,2,22,NaN,31256,LT,,,,2016-02-08,1,...,0,N,N,0.00,34.49,0.00,N,UN,Units,2016
171173872,3,22,NaN,31240,RT,,,,2016-02-08,1,...,0,N,N,0.00,27.97,0.00,N,UN,Units,2016
171173872,4,22,NaN,31240,LT,,,,2016-02-08,1,...,0,N,N,0.00,27.97,0.00,N,UN,Units,2016
171173873,1,11,NaN,99214,,,,,2016-02-17,1,...,0,N,N,30.00,0.00,0.00,N,UN,Units,2016
171173874,1,11,NaN,99214,,,,,2016-02-17,1,...,0,N,N,20.00,0.00,0.00,N,UN,Units,2016
171173875,1,11,NaN,99214,,,,,2016-02-17,1,...,0,N,N,0.00,0.00,130.09,N,UN,Units,2016
171173876,1,11,NaN,99391,25,,,,2016-02-19,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173876,2,11,NaN,90473,,,,,2016-02-19,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173876,3,11,NaN,90472,,,,,2016-02-19,3,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173876,4,11,NaN,90685,,,,,2016-02-19,1,...,49281051525,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173876,5,11,NaN,90670,,,,,2016-02-19,1,...,5197101,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173876,6,11,NaN,90680,,,,,2016-02-19,1,...,6404741,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173876,7,11,NaN,90723,,,,,2016-02-19,1,...,58160081143,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173877,1,11,NaN,99213,,,,,2016-02-18,1,...,0,N,N,20.00,0.00,0.00,N,UN,Units,2016
171173878,1,11,NaN,99214,,,,,2016-02-18,1,...,0,N,N,25.00,0.00,0.00,N,UN,Units,2016
171173879,1,11,NaN,99203,,,,,2016-02-17,1,...,0,N,N,30.00,0.00,0.00,N,UN,Units,2016
171173880,1,11,NaN,99391,25,,,,2016-02-16,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173880,2,11,NaN,90471,,,,,2016-02-16,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173880,3,11,NaN,90472,,,,,2016-02-16,2,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173880,4,11,NaN,90474,,,,,2016-02-16,1,...,0,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173880,5,11,NaN,90648,,,,,2016-02-16,1,...,49281054505,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173880,6,11,NaN,90723,,,,,2016-02-16,1,...,58160081152,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173881,1,11,NaN,90670,,,,,2016-02-16,1,...,5197102,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173881,2,11,NaN,90680,,,,,2016-02-16,1,...,6404741,N,N,0.00,0.00,0.00,N,UN,Units,2016
171173882,1,21,NaN,99223,,,,,2016-02-17,1,...,0,N,N,0.00,0.00,252.96,N,UN,Units,2016
171173883,1,21,NaN,99239,,,,,2016-02-18,1,...,0,N,N,0.00,0.00,131.52,N,UN,Units,2016
347919445,5,99,NaN,D2391,,,,,2016-08-23,1,...,0,N,N,0.00,19.20,0.00,Y,UN,Units,2016

In [27]:
medical_line_df['Unit_Of_Measure_Cd'].nunique()

3

In [36]:
medical_line_df().values.any()

TypeError: 'DataFrame' object is not callable

In [35]:
medical_line_edited = medical_line_df.drop(['Dental_Flag', 'Service_Start_Year', 'Unit_Of_Measure_Desc', 'Unit_Of_Measure_Cd'], axis=1)
medical_line_edited

,Claim_Line_No,Place_of_Service_Cd,Rev_Cd,CPT4_ID,CPT4_Mod1_Cd,CPT4_Mod2_Cd,CPT4_Mod3_Cd,CPT4_Mod4_Cd,Service_Start_Dt,Units,Charge_Amt,Prepaid_Amt,Plan_Paid_Amt,NDC_Cd,Capitation_Flag,ER_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt
Claim_ID,,,,,,,,,,,,,,,,,,,
358985506,19,11,NaN,D9951,,,,,2016-10-05,1,15.00,0.0,0.00,0,N,N,0.00,0.00,0.00
358982958,3,11,NaN,D0120,,,,,2016-02-02,1,28.00,0.0,0.00,0,N,N,0.00,0.00,28.00
238253746,1,11,NaN,99213,25,,,,2016-04-25,1,136.00,0.0,70.87,0,N,N,0.00,0.00,0.00
358996411,3,11,NaN,96372,,,,,2016-04-05,1,40.00,0.0,29.92,0,N,N,0.00,0.00,0.00
358985561,2,11,NaN,17280,XU,,,,2016-12-22,1,263.00,0.0,27.28,0,N,N,0.00,0.00,0.00
358984479,1,99,450.0,00000,,,,,2016-02-13,1,281.00,0.0,0.00,0,N,Y,0.00,0.00,281.00
171447849,1,11,NaN,99213,,,,,2016-07-26,1,110.00,0.0,67.10,0,N,N,0.00,7.45,0.00
358987119,24,99,444.0,00000,,,,,2016-04-28,1,252.13,0.0,8.96,0,N,N,0.00,0.00,0.00
358996654,32,99,551.0,00000,,,,,2016-09-30,4,437.00,0.0,0.00,0,N,N,0.00,0.00,0.00
281568939,1,23,NaN,99284,,,,,2016-08-23,1,679.00,0.0,0.00,0,N,N,0.00,0.00,441.35
239303210,1,11,NaN,D4910,,,,,2016-12-29,1,128.00,0.0,61.23,0,N,N,0.00,15.31,0.00
248413959,1,11,NaN,97110,GP,,,,2016-04-12,2,94.00,0.0,10.91,0,N,N,0.00,0.00,0.00
358995481,9,99,551.0,00000,,,,,2016-12-30,5,181.00,0.0,0.00,0,N,N,0.00,0.00,0.00
248413959,2,11,NaN,97140,59,GP,,,2016-04-12,1,40.00,0.0,4.39,0,N,N,0.00,0.00,0.00
358983710,3,11,NaN,D2392,,,,,2016-06-21,1,135.00,0.0,57.20,0,N,N,0.00,14.30,50.00
358952520,1,11,NaN,D4341,,,,,2016-06-01,1,189.00,0.0,66.50,0,N,N,0.00,66.50,0.00
358952568,6,99,304.0,00000,,,,,2016-04-04,1,174.70,0.0,0.00,0,N,N,0.00,0.00,0.00
358950309,9,99,301.0,00000,,,,,2016-04-16,43,6387.31,0.0,152.66,0,N,N,0.00,0.00,0.00
359004724,9,99,301.0,00000,,,,,2016-12-21,1,27.30,0.0,1.49,0,N,N,0.00,0.00,0.00
359002401,20,99,851.0,00000,,,,,2016-06-13,1,2446.71,0.0,22.85,0,N,N,0.00,0.00,0.00
359005061,2,99,200.0,00000,,,,,2016-02-29,12,73653.73,0.0,24236.70,0,N,N,92.81,0.00,0.00
359002695,6,11,NaN,D9223,,,,,2016-11-22,1,175.00,0.0,72.00,0,N,N,0.00,18.00,0.00
359005076,2,11,NaN,96372,,,,,2016-10-25,1,43.00,0.0,0.00,0,N,N,0.00,0.00,27.48
359005181,2,99,270.0,00000,,,,,2016-11-10,1,13.13,0.0,0.00,0,N,N,0.00,0.00,0.00
359002843,17,99,636.0,00000,,,,,2016-01-29,1,45.74,0.0,0.00,0,N,N,0.00,0.00,0.00
171447851,1,11,NaN,99393,,,,,2016-08-03,1,160.00,0.0,129.78,0,N,N,0.00,0.00,0.00
282610850,1,11,NaN,99214,,,,,2016-11-01,1,155.00,0.0,108.82,0,N,N,30.00,0.00,0.00
358956207,3,11,NaN,D0272,,,,,2016-09-26,1,35.00,0.0,29.00,0,N,N,0.00,0.00,0.00
283264429,1,11,NaN,99205,,,,,2016-12-09,1,331.00,0.0,151.91,0,N,N,3.00,0.00,0.00
281568959,1,11,NaN,99215,,,,,2016-08-25,1,275.00,0.0,128.06,0,N,N,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171173858,2,11,NaN,93005,,,,,2016-02-18,1,16.00,0.0,14.40,0,N,N,0.00,0.00,0.00
171173859,1,11,NaN,99214,,,,,2016-02-18,1,170.00,0.0,85.09,0,N,N,45.00,0.00,0.00
171173859,2,11,NaN,71020,,,,,2016-02-18,1,66.00,0.0,40.32,0,N,N,0.00,0.00,0.00
171173872,2,22,NaN,31256,LT,,,,2016-02-08,1,408.00,0.0,137.98,0,N,N,0.00,34.49,0.00
171173872,3,22,NaN,31240,RT,,,,2016-02-08,1,329.00,0.0,111.86,0,N,N,0.00,27.97,0.00
171173872,4,22,NaN,31240,LT,,,,2016-02-08,1,329.00,0.0,111.86,0,N,N,0.00,27.97,0.00
171173873,1,11,NaN,99214,,,,,2016-02-17,1,170.00,0.0,100.09,0,N,N,30.00,0.00,0.00
171173874,1,11,NaN,99214,,,,,2016-02-17,1,170.00,0.0,110.09,0,N,N,20.00,0.00,0.00
171173875,1,11,NaN,99214,,,,,2016-02-17,1,170.00,0.0,0.00,0,N,N,0.00,0.00,130.09
171173876,1,11,NaN,99391,25,,,,2016-02-19,1,139.00,0.0,101.76,0,N,N,0.00,0.00,0.00
171173876,2,11,NaN,90473,,,,,2016-02-19,1,30.00,0.0,19.20,0,N,N,0.00,0.00,0.00
171173876,3,11,NaN,90472,,,,,2016-02-19,3,54.00,0.0,43.20,0,N,N,0.00,0.00,0.00
171173876,4,11,NaN,90685,,,,,2016-02-19,1,25.00,0.0,25.00,49281051525,N,N,0.00,0.00,0.00
171173876,5,11,NaN,90670,,,,,2016-02-19,1,192.00,0.0,188.29,5197101,N,N,0.00,0.00,0.00
171173876,6,11,NaN,90680,,,,,2016-02-19,1,101.00,0.0,92.25,6404741,N,N,0.00,0.00,0.00
171173876,7,11,NaN,90723,,,,,2016-02-19,1,94.00,0.0,83.45,58160081143,N,N,0.00,0.00,0.00
171173877,1,11,NaN,99213,,,,,2016-02-18,1,115.00,0.0,66.88,0,N,N,20.00,0.00,0.00
171173878,1,11,NaN,99214,,,,,2016-02-18,1,170.00,0.0,105.09,0,N,N,25.00,0.00,0.00
171173879,1,11,NaN,99203,,,,,2016-02-17,1,173.00,0.0,100.09,0,N,N,30.00,0.00,0.00
171173880,1,11,NaN,99391,25,,,,2016-02-16,1,139.00,0.0,101.76,0,N,N,0.00,0.00,0.00
171173880,2,11,NaN,90471,,,,,2016-02-16,1,30.00,0.0,28.33,0,N,N,0.00,0.00,0.00
171173880,3,11,NaN,90472,,,,,2016-02-16,2,36.00,0.0,28.80,0,N,N,0.00,0.00,0.00
171173880,4,11,NaN,90474,,,,,2016-02-16,1,18.00,0.0,12.48,0,N,N,0.00,0.00,0.00
171173880,5,11,NaN,90648,,,,,2016-02-16,1,33.00,0.0,33.00,49281054505,N,N,0.00,0.00,0.00
171173880,6,11,NaN,90723,,,,,2016-02-16,1,94.00,0.0,83.45,58160081152,N,N,0.00,0.00,0.00
171173881,1,11,NaN,90670,,,,,2016-02-16,1,192.00,0.0,188.29,5197102,N,N,0.00,0.00,0.00
171173881,2,11,NaN,90680,,,,,2016-02-16,1,101.00,0.0,92.25,6404741,N,N,0.00,0.00,0.00
171173882,1,21,NaN,99223,,,,,2016-02-17,1,332.00,0.0,0.00,0,N,N,0.00,0.00,252.96
171173883,1,21,NaN,99239,,,,,2016-02-18,1,163.00,0.0,0.00,0,N,N,0.00,0.00,131.52
347919445,5,99,NaN,D2391,,,,,2016-08-23,1,96.00,0.0,19.20,0,N,N,0.00,19.20,0.00

In [32]:
len(medical_line_edited.columns)

20

In [6]:
list(medical_line_df.columns.values)

['Claim_ID',
 'Claim_Line_No',
 'Place_of_Service_Cd',
 'Rev_Cd',
 'CPT4_ID',
 'CPT4_Mod1_Cd',
 'CPT4_Mod2_Cd',
 'CPT4_Mod3_Cd',
 'CPT4_Mod4_Cd',
 'Service_Start_Dt',
 'Units',
 'Charge_Amt',
 'Prepaid_Amt',
 'Plan_Paid_Amt',
 'NDC_Cd',
 'Capitation_Flag',
 'ER_Flag',
 'Copay_Amt',
 'Coinsurance_Amt',
 'Deductible_Amt',
 'Dental_Flag',
 'Unit_Of_Measure_Cd',
 'Unit_Of_Measure_Desc',
 'Service_Start_Year']

In [12]:
medical_line_df['Capitation_Flag'].nunique()

2

In [11]:
medical_line_df[['Claim_ID', 'Charge_Amt']]

        Claim_ID  Charge_Amt
0      358985506       15.00
1      358982958       28.00
2      238253746      136.00
3      358996411       40.00
4      358985561      263.00
5      358984479      281.00
6      171447849      110.00
7      358987119      252.13
8      358996654      437.00
9      281568939      679.00
10     239303210      128.00
11     248413959       94.00
12     358995481      181.00
13     248413959       40.00
14     358983710      135.00
15     358952520      189.00
16     358952568      174.70
17     358950309     6387.31
18     359004724       27.30
19     359002401     2446.71
20     359005061    73653.73
21     359002695      175.00
22     359005076       43.00
23     359005181       13.13
24     359002843       45.74
25     171447851      160.00
26     282610850      155.00
27     358956207       35.00
28     283264429      331.00
29     281568959      275.00
...          ...         ...
99969  171173858       16.00
99970  171173859      170.00
99971  171173859       66.00
99972  171173872      408.00
99973  171173872      329.00
99974  171173872      329.00
99975  171173873      170.00
99976  171173874      170.00
99977  171173875      170.00
99978  171173876      139.00
99979  171173876       30.00
99980  171173876       54.00
99981  171173876       25.00
99982  171173876      192.00
99983  171173876      101.00
99984  171173876       94.00
99985  171173877      115.00
99986  171173878      170.00
99987  171173879      173.00
99988  171173880      139.00
99989  171173880       30.00
99990  171173880       36.00
99991  171173880       18.00
99992  171173880       33.00
99993  171173880       94.00
99994  171173881      192.00
99995  171173881      101.00
99996  171173882      332.00
99997  171173883      163.00
99998  347919445       96.00

[99999 rows x 2 columns]

In [25]:
medical_line_edited.isnull().sum(axis = 0)

Claim_ID                   0
Claim_Line_No              0
Place_of_Service_Cd        0
Rev_Cd                 85851
CPT4_ID                    0
CPT4_Mod1_Cd               0
CPT4_Mod2_Cd               0
CPT4_Mod3_Cd               0
CPT4_Mod4_Cd               0
Service_Start_Dt           0
Units                      0
Charge_Amt                 0
Prepaid_Amt                0
Plan_Paid_Amt              0
NDC_Cd                     0
Capitation_Flag            0
ER_Flag                    0
Copay_Amt                  0
Coinsurance_Amt            0
Deductible_Amt             0
Unit_Of_Measure_Cd         0
dtype: int64